<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel de mascotas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stulessheet" href = "css/bootstrap.min.css">
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:5000">Hotel de mascotas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/habitaciones">habitacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/usuario">Usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</nav>
<!--frontier-->
<div class="card mb-3">
  <img src="https://i.postimg.cc/mgr2MqzJ/font.png" class="card-img-top" alt="bonitos">
  <button type="button" class="btn btn-info">Mas informacion</button>
  <div class="card-body">
    <p class="card-text">Los beneficios que otorga a las mascotas,el socializar con otros animales, les permite crecer integralmente</p>
    <style>  p {text-align: center;}</style>
  </div>
  <!--frontier-->

</div>
</div>
</div>
</div>
</body>
</html>